
@font-face {
  font-family: 'ComicPapyrus';
  src: url('ComicPapyrus.eot?#iefix') format('embedded-opentype'),  url('ComicPapyrus.woff') format('woff'), url('ComicPapyrus.ttf')  format('truetype'), url('ComicPapyrus.svg#ComicPapyrus') format('svg');
  font-weight: normal;
  font-style: normal;
}
