* {
  box-sizing: border-box;
}


h1{font-family: Copperplate, "Copperplate Gothic Light", fantasy;

  letter-spacing: 3px;
}


div.col-9 p { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;}

div.par p { text-align: left;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;}




.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media screen and (max-width: 500px){

  h1{font-family: "Courier New","Courier", monospace;

    letter-spacing: 1px;
  }
  img.homeimgs {
 
     max-width: 100%;
     max-height: 100%;
   }


}

@media screen and (min-width: 1000px) {
    .col-9 h1 {
      font-size: 3.5vw;
    }
  }

  @media screen and (min-width: 1200px) {
    .col-9 p {
      font-size: 1.25vw;
    }
  }

  @media screen and (max-width: 1200px) {
    .col-9 p {
      padding-left: 10px;
    }
  }

  @media screen and (min-width: 1000px) {
    .header h1 {
      font-size: 3vw;
    }
  }

  img.logo {
    width: 150px;
    max-width: 100%; 
    max-height: 100px;
    padding-left: 15px;
  }

img.homeimgs {
 transition: all .2s ease-in-out; 
  max-width: 50%;
  max-height: 50%;
  position: relative;
  left: 13vw;

}
.homeimgs:hover { transform: scale(1.2); 
  border: 0px solid rgb(0, 0, 0);
  outline-style: solid;
  outline-color: rgb(255, 255, 255);
  z-index: 10;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  background-color: rgba(218, 237, 255, 0.479);
}


.header {
  border-radius: 1rem;
  background-color: #535353;
  color: #ffffff;
  padding: 15px;
  
display: flex;
justify-content: flex-start;
}

@media screen and (min-width: 1200px) {
    img.logo {
     position: absolute;
     top: 30px;
     right: 30px;
    }
  }

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  background-color:  #000066;
  color: white;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

li{ padding-bottom: 15px;
  font-size: 4vw;
}


@media screen and (max-width: 500px){
  a:link, a:visited{
    padding: 2rem .75rem;
}}

@media screen and (min-width: 600px){
li{ font-size: 3vw; }}


a:hover, a:active {
  background-color:  #0066ff;
}


@media screen and (min-width: 1000px) {
  a:link, a:visited {
    padding: 32px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block; }

    .homeimgs:hover { transform: scale(1); 
      border: 0px solid rgb(0, 0, 0);
      outline-style: solid;
      outline-color: rgb(255, 255, 255);
    }
    
}

@media screen and (min-width: 1000px) {
    .menu li {
      font-size: 2vw;
    }
  }




.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}



div.cell source {
  display: block;
  padding: 5px;
 
}

@media screen and (max-width: 999px) {
  .cell {
max-width: 50%;
max-height: 50%;

  }
}



@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
  }
  .cell {
    width: 50%;
   
  }
}


.par h1{
 font-size: 1.5rem;
}

@media screen and (max-width: 599px) {
  .par {
    position: absolute;
    top: 150px;
    left: 150px;
  }

}

.begin {
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {
  p.begin  {
    font-size: 2.5vw;
  }
}


@media screen and (min-width: 100px){
ul.resume li{
  font-size: 3vw;
} }

@media screen and (min-width: 860px){
  ul.resume li{
    font-size: 1.5vw;
  } }